extends layout

block content
  h1 Polls

  div.row()
    div.col-md-12
      ul.list-group
        for poll in polls
          li.list-group-item
            a(href='/polls/monitor/#{ poll.id_poll }/#{ poll.poll }') #{ poll.poll } (#{poll.votes} Votes)
            br
            p= '(Created at: ' + moment(poll.created_date).format("DD/MM/YYYY") + ')'

  div.row
    div.col-md-12
      div.alert.alert-info
        -for ( var i = 1 ; i <= lastPage ; i++  ) {
          if i == currentPage
            p #{ i }
          else
            if q
              p
                a(href='/polls/#{ i }?q=#{ q }') #{ i }
            else
              p 
                a(href='/polls/#{ i }') #{ i }
        -}